.stories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 84px;
    padding: 0 16px;
    flex-flow: column wrap;
    overflow-x: hidden;
}

.userStory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userStory:not(:last-child) {
    margin-right: 16px;
}

.story {
    width: 64px;
    height: 64px;
    border: 1px solid var(--bg-dark-gray);
    border-radius: 100px;
    margin-bottom: 2px;
}

.user {
    font-size: 12px;
}