// FONTS
$mainFont: 'sans-serif';

// FONT COLORS
$mainFontColor: #262626;
$altFontColor: #8E8E8E;
$blueFontColor: #0095F6;

// BACKGROUND COLORS
$whiteBackgroundColor: #FFFFFF;
$grayBackgroundColor: #FAFAFA;
$darkGrayBackgroundColor: #DBDBDB;

// ICON COLORS
$red: #ED4956;
